.logoBrand {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.logo {
    color: rgba(128, 9, 239, 0.97);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 8px; /* Ajuster l'espace autour de l'icône */
}
